{% extends 'base.html.twig' %}
{% block header %}
<a href="{{ path('home') }}">Notre offre</a>
    </div>
    <a class="btn btn--audit" href="">Votre audit <br>gratuit</a>
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <a class="logo__login" href=""><i class="far fa-user-circle fa-4x "></i></a> 
    {% else %}
        <a class="btn btn--header" href="{{ path('app_login') }}">Inscription<br>connexion</a>
    {% endif %}
{% endblock %}
{% block title %}À propos{% endblock %}

{% block body %}
    <div class="about">
        <div class="about__content">
            <h1 class="about__h1">À propos de nous</h1>
            <p class="about__p">Bellybutton aide les agences à <br>pénétrer dans le monde du marketing d'influence<br> afin d'atteindre un public plus large grâce à de <br> puissants outils de prédiction, des performances et <br> à une équipe d'experts en marketing d'influence</p>
        </div>
        <img class="about__img" src="{{ asset('assets/images/illus/about.png') }}" alt="Illustration représentant les médias sociaux">
    </div>

    <div class="about__second">
        <img class="about__second__img" src="{{ asset('assets/images/illus/about_2.png') }}" alt="Illustration représentant les médias sociaux">
        <div class="about__second__content">
            <h1 class="about__second__h1">Une équipe d'experts</h1>
            <p class="about__second__p">L’équipe Bellybutton est composée d'experts mais <br> surtout de personnes passionnées par le monde <br> de l'influence marketing. Nous vous conseillons et <br> vous assistons dans le lancement de campagnes <br> publicitaires à fort impact. Toujours disponible, <br> toujours ouverte à la discussion, notre équipe <br> veut fournir les services les plus adaptés à vos besoins <br> réels pour construire une relation de long terme et <br> significative avec vous.</p>
        </div>
    </div>
{% endblock %}