@import '../../../../scss/tools/responsive';

.about__fourth {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 6rem;

  .about__fourth__img {
    width: 50%;
  }
  .about__fourth__content {
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;

    .about__fourth__h1 {
      text-align: left;
      color: #312e5c;
      font-size: 3.8em;
      width: 75%;
    }
    .about__fourth__p {
      text-align: left;
      color: #312e5c;
      font-size: 1.6em;
      line-height: 1.4em;
      margin-top: 3rem;
      width: 75%;
    }
  }
}

@media #{$large-down} {
  .about__fourth {
    .about__fourth__content {
      .about__fourth__h1 {
        font-size: 3em;
      }
      .about__fourth__p {
        font-size: 1.4em;
      }
    }
  }
}
@media #{$medium-down} {
  .about__fourth {
    flex-direction: column;
    .about__fourth__img {
      width: 100%;
    }
    .about__fourth__content {
      width: 100%;
      margin-top: 2rem;
      .about__fourth__h1 {
      }
      .about__fourth__p {
      }
    }
  }
}
@media #{$small-down} {

}