@import '../../../../scss/tools/responsive';

.about__fourth {
  display: flex;
  justify-content: space-between;
  margin: 5rem auto;

  .about__fourth__img {
    width: 30%;
  }
  .about__fourth__content {
    align-self: center;
    display: flex;
    flex-direction: column;
    width: 50%;

    .about__fourth__h1 {
      text-align: left;
      color: #312e5c;
      width: 75%;
    }
    .about__fourth__p {
      text-align: left;
      color: #312e5c;
      line-height: 1.4em;
      margin-top: 3rem;
      width: 75%;
    }
  }
}

@media #{$large-down} {
  .about__fourth {
    .about__fourth__img {
      width: 45%;
  }
  }
}
@media #{$medium-down} {
  .about__fourth {
    flex-direction: column;
    .about__fourth__img {
      display: none;
    }
    .about__fourth__content {
      width: 100%;
      align-items: center;
      .about__fourth__h1 {
        text-align: center;
      }
    }
  }
}
@media #{$small-down} {

}