@import '../../../../scss/tools/vars';

.section2 {
  display: flex;
  margin-top: 6rem;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 4rem;
  margin-bottom: 4rem;
  align-items: center;
  .section2__img {
  width: 53%;
  }
  .section2__content {
    align-self: center;
    display: flex;
    flex-direction: column;
    margin-right: 8rem;
    .section2__h1 {
      text-align: left;
      color: $fontMain;
      font-size: 3.8em;
    }
    .section2__p {
      text-align: left;
      color: $font;
      font-size: 1.6em;
      line-height: 1.6em;
      margin-top: 3rem;
    }
  }
}