@import '../../../../scss/tools/vars';
@import '../../../../scss/tools/responsive';

.section2 {
  display: flex;
  margin-top: 6rem;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 4rem;
  margin-bottom: 4rem;
  align-items: center;
  .section2__img {
  width: 53%;
  }
  .section2__content {
    align-self: center;
    display: flex;
    flex-direction: column;
    margin-right: 8rem;
    .section2__h1 {
      text-align: left;
      color: $fontMain;
    }
    .section2__p {
      text-align: left;
      color: $font;
      line-height: 1.6em;
      margin-top: 3rem;
      width: 80%;
    }
  }
}

@media #{$large-down} {
  .section2 {
    .section2__content {
      margin-right: 0;
      .section2__h1 {
        font-size: 3em;
      }
      .section2__p {
        font-size: 1.4em;
      }
    }
  }
}
@media #{$medium-down} {
 .section2 {
   flex-direction: column-reverse;
   .section2__content {
     align-items: center;
   }
   .section2__img {
     width: 100%;
   }
 }
}
@media #{$small-down} {
  .section2 {
    .section2__content {
      .section2__h1 {
        font-size: 1.5em;
        text-align: center;
      }
      .section2__p {
        font-size: 1.2em;
      }
    }
  }
}
@media #{$xsmall-down} {

}
