<div class="brand__register">
    <div class="yahoo">
        <i class="fas fa-quote-left"></i>
        <p class="yahoo__p">Une agence qui révolutionne <br> l'influence marketing</p>
        <p class="yahoo__yahoo">yahoo!</p>

    </div>
</div>