<div class="project">
    <h2 class="project__title">Parlons de votre projet</h2>
    <h4 class="project__subtitle">Entreprise ou agence, découvrez notre solution e-influence</h4>
    <a href="{{path('business_audit')}}" class="btn btn--project">Obtenez votre <br> audit <span class="project__span">gratuitement</span></a>
    <p class="project__text">Vous souhaitez qu'on vous rappelle ? Programmez un rendez-vous <a class="project__link" href=" {{path('business_audit')}} ">ici</a></p>
</div>