<div class="header__promo">
  <p class="header__promo__p">Augmentez votre visiblité, élargissez votre communauté... Bénéficiez d’un devis gratuit sur-mesure en cliquant <a class="header__promo__link" href="{{path('business_audit')}}">ici!</a></p>
</div>