@import '../../../../scss/tools/responsive';

.dashboard__management {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .dashboard__search {
    width: 25%;
    .dashboard__input {
      border-radius: 25px;
      border: 1px solid #e2e2e2;
      outline: none;
      height: 50px;
      width: 100%;
    }
  }
  .btn--dashboard__refresh {
    background-color: #4285f4;
    color: #FFF;
    border-radius: 5px;
    & i {
      margin-right: 1rem;
      color: #FFF;
    }
  }
}

@media #{$medium-down} {
  .dashboard__management {
    justify-content: center;
    .dashboard__search {
      justify-content: center;
      width: 60%;
      .dashboard__input {
        margin-bottom: 1rem;
      }
    }
    .btn--dashboard__refresh {
      display: none;
    }
  }
}

@media #{$xsmall-down} {
  .dashboard__management {
    .dashboard__search {
      width: 80%;
    }
  }
}
