.comment__display {
  display: flex;
  margin-top: 2rem;

  .comment__display__content {
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
    
    .comment__display__title {

    }
    .comment__display__text {

    }
  }

}