@import '../../../../scss/tools/responsive';

.header-business {
  display: flex;
  width: 80%;
  margin: 6rem auto 2rem;
  justify-content: space-between;
  .header-business__content {
    align-self: center;
    display: flex;
    flex-direction: column;
    width: 50%;
    .header-business__h1 {
      text-align: left;
      color: #312e5c;
      font-size: 2.2em;
    }
    .header-business__p {
      text-align: left;
      color: #312e5c;
      font-size: 1.1em;
      line-height: 1.4em;
      margin-top: 2rem;
      width: 90%;
    }
    .header-business__P2 {
      text-align: left;
      font-size: .8em;
    }
    .btn--business {
      width: 100%;
    }
    .header__button {
      display: flex;
      flex-direction: column;
      align-items: center;
      align-self: flex-start;
    }
  }
  .header-business__img {
    width: 50%;
    position: relative;

    .img__discussion {
      position: absolute;
      left: 80px;
      bottom: 30px;
      width: 8%;
      transform: translatey(0px);
      animation: float 5s ease-in-out infinite;
    }
    .img__heart {
      position: absolute;
      top: 150px;
      right: 110px;
      width: 8%;
      transform: translatey(0px);
      animation: float 5s ease-in-out infinite;
    }
    .img__picture {
      position: absolute;
      left: 150px;
      top: 90px;
      width: 8%;
      transform: translatey(0px);
      animation: float 5s ease-in-out infinite;
    }
  }
}

@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-40px);
	}
	100% {
		transform: translatey(0px);
	}
}

@media #{$xlarge-down} {
  .header-business {
    width: 95%;
    .header-business__img {
      .img__heart {
        top: 110px;
        right: 65px;
      }
      .img__picture {
        top: 65px;
      }
      .img__discussion {
        left: 60px;
        bottom: 10px;
      }
    }
    .btn--business {
      padding: 15px 40px;
    }
  }
}
@media #{$large-down} {
  .header-business {
    .header-business__content {
      .header-business__h1 {
        font-size: 1.8em;
      }
      .header-business_p {
        font-size: 1.4em;
      }
    }
    .btn--business {
      padding: 10px 20px;
      font-size: 1.2em;
    }
  }
}
@media #{$medium-down} {
  .header-business {
    flex-direction: column;
    .header-business__content {
      width: 100%;
      align-items: center;
      .header-business__h1 {
        font-size: 1.8em;
      }
      .header-business__p {
        font-size: 1.1em;
      }
    }
    .header-business__img {
      width: 100%;
    }
    .btn--business {
      padding: 10px 20px;
      font-size: 1.2em;
    }
  }
}
@media #{$small-down} {
  .header-business {
    flex-direction: column;
    .header-business__content {
      width: 100%;
      align-items: center;
      .header-business__h1 {
        font-size: 1.6em;
      }
      .header-business__p {
        font-size: 1.1em;
      }
    }
  }
}
@media #{$xsmall-down} {
  .header-business {
    flex-direction: column;
    .header-business__content {
      .header-business__h1 {
        font-size: 1.2em;
      }
      .header-business__p {
        font-size: 1em;
      }
    }
  }
}