{% extends 'main/base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<header class="home__header">
    <nav class="home__header__nav">
        <div><img src="{{ asset('assets/images/logo/bblogo.png') }}" alt="Logo de bellybutton" width="5%">
        </div>
        <div class="home__header__nav__div">
            <a class="home__language home__language--fr" href="">fr</a>
            <a class="home__language home__language--en" href="">en</a>     
        </div>
    </nav>
</header>
<div class="home">
    <div class="influencer">
        <h1 class="influencer__h1">Vous êtes <span class="influencer__h1__span">influenceur</span></h1>
        <p class="influencer__p">Accedez à de nombreuses opportunités et <br> collaborer avec nos partenaires.</p>
        <a href=" {{ path('influencer') }} " class="btn btn--influencer"> Je découvre</a>
    </div>
    <div class="society">
        <h1 class="society__h1">Vous êtes <span class="society__h1__span">une entreprise</span></h1>
        <p class="society__p">Trouver l'ambassadeur de votre marque grace à <br> des campagnes innovantes</p>
        <a href=" {{ path('business') }} " class="btn btn--society"> Je découvre</a>
    </div>
</div>

{% endblock %}
