{% extends 'main/base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<header class="home__header">
    <nav class="home__header__nav">
        <div><img src="{{ asset('assets/images/logo/bblogo.png') }}" alt="Logo de bellybutton" width="5%">
        </div>
    </nav>
</header>
<div class="home">
    <div class="influencer">
        <h1 class="influencer__h1">Vous êtes <span class="influencer__h1__span">influenceur</span></h1>
        <p class="influencer__p">Accedez à de nombreuses opportunités et <br> collaborer avec nos partenaires.</p>
        <a href=" {{ path('influencer') }} " class="btn btn--home-influencer"> Je découvre</a>
    </div>
    <div class="society">
        <h1 class="society__h1">Vous êtes <span class="society__h1__span">une entreprise</span></h1>
        <p class="society__p">Trouvez l'ambassadeur de votre marque grace à <br> des campagnes innovantes</p>
        <a href=" {{ path('business') }} " class="btn btn--society"> Je découvre</a>
    </div>
</div>

<div id="cookie-banner" class="cookie-banner">
    Ce site utilise Google Analytics. En continuant à naviguer, vous nous autorisez à déposer un cookie à des fins de mesure d'audience.
    <button id="cookie-more-button" name="cookie-more">En savoir plus ou s'opposer</button>
</div>

<div id="cookie-inform-and-ask" class="cookie-inform-and-ask">
    <div class="cookie-dialog">
        <p>Ce site utilise des cookies de Google Analytics. Ces cookies nous aident à identifier le contenu qui vous intéresse le plus ainsi qu'à repérer certains dysfonctionnements. Vos données de navigations sur ce site sont envoyées à Google Inc.</p>
        <div>
          <button id="ga-cancel-button" name="ga-cancel">S'opposer</button>
          <button id="ga-confirm-button" name="ga-confirm">Accepter</button>
        </div>
    </div>
</div>
{% endblock %}
