{% extends 'base.html.twig' %}
{% block promoHeader %}
{{ include('base/_promo_header.html.twig') }}

{% endblock %}

{% block header %}
{{ include('base/_header_business.html.twig') }}
{% endblock %}
{% block title %}Entreprise{% endblock %}
{% block stylesheets %}
    {{ encore_entry_link_tags('homeBusiness') }}
{% endblock %}

{% block body %}
    <div id="root_business"></div>
    {% block javascripts %}
        {{ encore_entry_script_tags('homeBusiness') }}
    {% endblock %}
{% endblock %}
