{% extends 'base.html.twig' %}
{% block header %}
{{ include('base/_header_business.html.twig') }}
{% endblock %}
{% block title %}Félicitation{% endblock %}

{% block body %}
<div class="container container--success">
    <h1>Félicitation !</h1>
    <h3>Accédez à votre dashboard</h3>
    <a class="btn btn--success" href={{ path('business_dashboard', {id: app.user.id}) }}>Dashboard</a>
    <p>ça devient serieux !</p>
</div>

{% endblock %}