{% extends 'base.html.twig' %}
{% block header %}
{{ include('base/_header_business.html.twig') }}
{% endblock %}
{% block title %}Félicitation{% endblock %}

{% block body %}
<div class="container">
    <h1>Félicitaition !</h1>
    <h3>Accédez à votre dashboard</h3>
    <a class="btn" href="">Dashboard</a>
    <p>ça devient serieux !</p>
</div>

{% endblock %}