{% extends "mails/base.html.twig" %}
{% block body %}
    <h2> Bonjour, {{user.firstname}}</h2>
    <p>Nous vous remercions d'avoir créé votre compte sur BellyButton.</p>
    <p>Si vous rencontrez la moindre difficulté nous sommes à votre disposition pour vous aider : écrivez-nous à contact@bellybutton-group.com.</p>
    <p>A très bientôt sur BellyButton !</p>

{% endblock %}