{% extends "mails/base.html.twig" %}
{% block body %}

<a href="{{ app.request.server.get('SYMFONY_DEFAULT_ROUTE_URL') }}resetpassword?token={{ token }}">Lien pour réinitialisation du mot de passe </a>

{% endblock %}