{% extends "mails/base.html.twig" %}
{% block body %}
<p>Pour reinitialiser votre mot de passe, cliquez sur ce lien :</p>
<a href="{{ app.request.server.get('SYMFONY_DEFAULT_ROUTE_URL') }}resetpassword?token={{ token }}">réinitialiser mon mot de passe </a>

{% endblock %}