*{
  font-family: $fontLight, sans-serif;
  color: $fontMain;
}
h1{
  font-family: $fontBold, sans-serif;
  font-size: 3em;
}
img{
  max-width: 100%;
}
p, input, label{
  text-align: center;
  font-size: 1.3em;
  margin-top: 1rem;
}
