@font-face {
  font-family: "NeueHaasDisplay-Roman";
  src: url("/assets/font/NeueHaasDisplay-Roman.ttf");
}
@font-face {
  font-family: "NeueHaasDisplay-Medium";
  src: url("/assets/font/NeueHaasDisplay-Medium.ttf");
}
@font-face {
  font-family: "NeueHaasDisplay-Light";
  src: url("/assets/font/NeueHaasDisplay-Light.ttf");
}
@font-face {
  font-family: "Pistilli Roman";
  src: url("/assets/font/Pistilli-Roman.otf");
}
