@import '../../../../scss/tools/vars';
@import '../../../../scss/tools/responsive';

.business-einfluence {
  display: flex;
  margin-top: 6rem;
  margin: 4rem auto 10rem;
  justify-content: space-between;
  .business-einfluence__img {
    width: 30%;
  }
  .business-einfluence__content {
    align-self: center;
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
    padding: 3rem;
    .business-einfluence__h1 {
      text-align: left;
      color: $fontMain;
      font-size: 2.2em;
    }
    .business-einfluence__p {
      text-align: left;
      color: $font;
      font-size: 1.1em;
      line-height: 1.6em;
      margin-top: 3rem;
    }
    .business-einfluence__strong {
      font-family: $fontBold;
    }
  }
}

@media #{$xlarge-down} {
  .business-einfluence {
    .business-einfluence__content {
      padding: 2rem;
    }
  }
}
@media #{$large-down} {
  .business-einfluence {
    .business-einfluence__img {
      display: none;
    }
    .business-einfluence__content {
      padding: 2rem;
    }
  }
}
@media #{$medium-down} {
  .business-einfluence {
    flex-direction: column-reverse;
    margin: 5rem 0;
    .business-einfluence__img {
      width: 100%;
    }
    .business-einfluence__content {
      width: 80%;
      align-items: center;
      .business-einfluence__h1 {
        width: 100%;
        margin-top: 2rem;
      }
    }
  }
}
@media #{$small-down} {
  .business-einfluence {
    margin: 0rem 0;
    .business-einfluence__content {
      .business-einfluence__h1 {
        font-size: 1.4em;
      }
      .business-einfluence__p {
        font-size: 1em;
      }
    }
  }
}