@import '../../../../scss/tools/responsive';

.about__second {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 6rem;

  .about__second__img {
    width: 30%;
  }

  .about__second__content {
    align-self: center;
    display: flex;
    flex-direction: column;
    width: 50%;

    .about__second__h1 {
      text-align: left;
      color: #312e5c;
      width: 75%;
    }
    .about__second__p {
      text-align: left;
      color: #312e5c;
      line-height: 1.4em;
      margin-top: 3rem;
      width: 75%;
    }
  }
}

// @media #{$large-down} {
//   .about__second {
//     .about__second__content {
//       .about__second__h1 {
//         font-size: 3em;
//       }
//       .about__second__p {
//         font-size: 1.4em;
//       }
//     }
//   }
// }
@media #{$medium-down} {
  .about__second {
    flex-direction: column;
    .about__second__img {
      display: none;
    }
    .about__second__content {
      width: 100%;
      align-items: center;
      .about__second__h1 {
        text-align: center;
      }
    }
  }
}
@media #{$small-down} {

}