@import '../../../../scss/tools/responsive';

.about__third {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 6rem;
  .about__third__img {
    width: 30%;
  }
  .about__third__content {
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 50%;

    .about__third__h1 {
      text-align: left;
      color: #312e5c;
      width: 75%;
    }
    .about__third__p {
      text-align: left;
      color: #312e5c;
      line-height: 1.4em;
      margin-top: 3rem;
      width: 75%;
    }

  }
}

@media #{$large-down} {
  .about__third {
    .about__third__img {
      width: 45%;
    }
  }
}
@media #{$medium-down} {
  .about__third {
    flex-direction: column-reverse;
    .about__third__img {
      display: none;
    }
    .about__third__content {
      width: 100%;
      align-items: center;
      .about__third__h1 {
        text-align: center;
      }
    }
  }
}
