.menu__auth {
  display: none;
  position: fixed;
  background-color:rgb(199,210,229);
  background: linear-gradient(90deg, rgba(199,210,229,1) 0%, rgba(222,222,238,1) 100%);
  top: 62px;
  right: 0;
  width: 20%;
  bottom: 0;
  z-index: 18;
  transition: .3s;
  animation: 0.4s cubic-bezier(1, 0, 0, 1) 0s 1 normal both running show-profil;
  padding: 2rem;
  text-align: center;

  &--visible {
    display: block;
  }
  .menu__auth__nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    .menu__auth__nav__link {
      color: #FFF;
      padding: 2rem 0;
      font-size: 3em;
      word-break: break-all;
    }
  }
}

@keyframes show-profil {
  0% {
    transform: scale(.5);
    transform-origin: 100% 0%;
  }

  100% {
      transform: scale(1);
      transform-origin: 100% 0%;
  }
}

@media #{$large-down} {
  .menu__auth {
    top: 61px;
  } 
}

@media #{$medium-down} {
  .menu__auth {
    width: 32%;
    top: 59px;
    .menu__auth__nav {
      .menu__auth__nav__link {
        font-size: 3em;
      }
    }
  } 
}
 @media #{$small-down} {
  .menu__auth {
    width: 40%;
    .menu__auth__nav {
      .menu__auth__nav__link {
        font-size: 2em;
      }
    }
  } 
}
// @media #{$xsmall-down} {

// }