@font-face {
    font-family: "NeueHaasDisplay-Roman";
    src: url("assets/fonts/NeueHaasDisplay-Roman.ttf");
  }
@font-face {
    font-family: "NeueHaasDisplay-Medium";
    src: url("assets/fonts/NeueHaasDisplay-Medium.ttf");
  }
@font-face {
    font-family: "NeueHaasDisplay-Light";
    src: url("assets/fonts/NeueHaasDisplay-Light.ttf");
  }
  @font-face {
    font-family: "Pistilli Roman";
    src: url("assets/fonts/Pistilli-Roman.otf");
  }
*{
    font-family: 'NeueHaasDisplay-Light', sans-serif;
    color: #292a2b;
}
h1{
    font-family: 'NeueHaasDisplay-Medium', sans-serif;
    font-size: 3em;
}
img{
    max-width: 100%;
}
p, input, label{
    text-align: center;
    font-size: 1.3em;
    margin-top: 1rem;
}

/* HOME */

.home__header{
    position: absolute;
    width: 100%;
}
.home__header__nav{
    display: flex;
    width: 100%;
    padding: 2rem;
    justify-content: space-between;
}
.home__header__nav__div{
    display: flex;
    align-self: center;
}
.home__language{
    align-self: center;
    margin-right: 1.5rem;
    text-transform: uppercase;
}
.home{
    display: flex;
    height: 100vh;
}
.influencer{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.influencer__h1, .society__h1{
    color: #312e5c;
}
.influencer__p, .society__p{
    color: #312e5c;
}
.influencer__h1__span{
    color: #fdc8b5;
}
.society__h1__span{
    color: #FFF;
}
.society{
    width: 50%;
    background: rgb(178,196,227);
    background: linear-gradient(180deg, rgba(178,196,227,1) 0%, rgba(239,221,230,1) 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.btn{
    color: #FFF;
    border: none;
    box-shadow: 0 0 5px 0 hsla(0,0%,47.1%,.3);
    border-radius:28px;
    padding:15px 56px;
    font-size: 1.3em;
    transition-duration: .3s;
}
.btn--login{
    background-color: #312e5c;
}
.btn--influencer{
    background-color: #9f7fc8;
    margin-top: 2rem;
}
.btn--society{
    background-color: #FFF;
    color: #312e5c;
    margin-top: 2rem;
}
.btn:hover{
    transform: scale(1.02);
    box-shadow: 0 10px 20px 0 hsla(0,0%,47.1%,.3);
}

/* BASE */

.header__base{
    background: rgb(199,210,229);
    background: linear-gradient(90deg, rgba(199,210,229,1) 0%, rgba(222,222,238,1) 100%);
    box-shadow: 0 3px 20px 0 hsla(0,0%,47.1%,.3);
    padding: .6rem;
}
.header__base__nav{
    display: flex;
    justify-content: space-between;
    font-size: .5em;
    color: #312e5c;
}
.header__base__link{
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    z-index: 1000;
}
.header__logo{
    width: 40px;
    margin-left: 1.2rem;
}
.header__base__link a{
    font-family: 'NeueHaasDisplay-Medium', sans-serif;
    color: #312e5c;
    font-size: 2.4em;
    font-weight: 600;
    transition: .5s;
}
.header__base__link a:hover{
    color: #FFF;
}
.btn--header{
    background-color: #312e5c;
    font-size: 1.9em;
    padding: 10px 36px;
    text-align: center;
}
.container{
    width: 80%;
    margin: 0 auto;
}
/* INFLUENCER */

.section1, .about, .about__second{
    display: flex;
    margin-top: 4rem;
    justify-content: space-between;
}
.section1__content, .about__content, .about__second__content{
    align-self: center;
    display: flex;
    flex-direction: column;
}
.btn--influencer{
    background: rgb(67,45,156);
    background: linear-gradient(90deg, rgba(67,45,156,1) 0%, rgba(44,52,172,1) 49%, rgba(39,54,175,1) 100%);
    text-align: center;
    margin-top: 3rem;
}
.section1__p, .about__p, .about__second__p{
    text-align: left;
    color: #312e5c;
    font-size: 2em;
    line-height: 1.2em;
    margin-top: 3rem;
}
.section1__h1, .about__h1, .about__second__h1{
    text-align: left;
    color: #312e5c;
    font-size: 4em;
}
.section1__img{
    width: 53%;
}

.about__second__content{
    margin-right: 8rem;
}
.about{
    width: 80%;
    margin: 0 auto;
    margin-top: 2rem;
}
.btn--audit{
    background-color: #FFF;
    color: #312e5c;
    font-size: 1.9em;
    padding: 10px 36px;
    text-align: center;
}
strong{
    color: #FFF;
    font-size: 1.2em;
    letter-spacing: 1px;
    margin-left: 1px;
}
.section1__P2{
    text-align: center;
    font-size: 1em;
}
/* BLOG */

.btn--login--blog{
    background-color: #312e5c;
    font-size: 1.9em;

}
.container__blog{
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
}
.main{
    width: 60%;
}
.aside{
    width: 35%;
    margin-top: 2rem;
}
.aside__article{
    display: flex;
    margin-top: 1.5rem;
}
.aside__article__content{
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
    align-self: center;
}
.aside__article__tag{
    text-align: start;
    color: #e5e5e5;
}
.aside__article__p{
    text-align: start;

}
.article__author{
    text-align: start;
    margin: 1.5rem 0;
}
.article__content{
    text-align: center;
    margin-bottom: 1.5rem;
    width: 88%;
    margin: 0 auto;
    text-align: left;
}
.section1--influencer{
    margin-left: 6rem;
}
.last__article{
    position: relative;
    margin-bottom: 2rem;
    text-align: center;
}
.last__article__content{
    position: absolute;
    display: flex;
    flex-direction: column;
    bottom: 20px;
}
.last__article__tag{
    color: #e5e5e5;
    text-align: center;
}
.last__article__tag i{
    color: #e5e5e5;
}
.last__article__title{
    color: #fff;
    font-size: 2.7em;
    text-align: center;
    text-shadow: 0px 0px 20px rgba(0,0,0,0.65);
}
.articles__all{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.articles{
    width: 48%;
}
.tag{
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}
.tag h2{
    margin-bottom: 1rem;
}
.tag a {
    padding: .5rem 0;
    font-weight: 100;
    color: #e5e5e5;
}
.tag i{
    color: #e5e5e5;
}
.select{
    color: #292a2b!important;
}
.select i{
    color: #292a2b;
}
.btn--comment{
    color: #292a2b;
    margin-top: 1.5rem;
}
.comment__textarea{
    width: 100%;
    border: 1px solid #e5e5e5;
    height: 100px;
    margin-top: 1.5rem;
    font-size: 1.2em;
}
.main__blog__title{
    margin-bottom: 2rem;
}
.articles{
    margin-bottom: 2rem;
}
.articles__position{
    position: relative;
}
.articles__tag{
    position: absolute;
    bottom: 0;
    left: 0;
    background: #FFF;
    padding: .5rem;
}
.articles__title{
    font-size: 1.8em;
    margin-top: 1.5rem;
}
.articles__title:hover{
    color: purple;
    text-decoration: underline;
}
.articles__text{
    font-family: 'NeueHaasDisplay-Medium', sans-serif;
    font-size: 1.1em;
    text-align: left;
    margin-top: .5rem;
}
.navigation{
    text-align: center;
    font-size: 1.8em;
}
.article__content{
    color: #333;
    letter-spacing: -.1px;
    text-align: left;
    line-height: 1.7;
    font-size: 1.5em;
}
.article__tag, .article__tag i{
    color: #e5e5e5;
}
.comment{
    margin: 2rem 0;
}
.comment__display{
    display: flex;

    margin-top: 2rem;
}
.comment__display__content{
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
}
.pseudo__admin{
    color: purple;
}
.comment__input{
    font-size: 1.2em;
}
/* LOGIN */

.container__login{
    height: 100vh;
}
.container__form{
    display: flex;
}
.form__login{
    width: 50%;
    align-self: center;
    justify-content: center;
    display: flex;  
}
.form__login__form{
    display: flex;
    flex-direction: column;
    width: 60%;
}
.form__aside{
    width: 50%;
}
.btn--form{
    width: 50%;
    background: rgb(67,45,156);
    background: linear-gradient(90deg, rgba(67,45,156,1) 0%, rgba(44,52,172,1) 49%, rgba(39,54,175,1) 100%);
    border-radius: 5px;
}
.btn--google{
    border-radius: 5px;
    color: black;
    text-align: center;
    background-color: #e9eaf2;
}
.form__login__btn{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.login__label{
    text-align: left;
}
.login__input{
    text-align: left;
}

.login__input, textarea{
    border: none;
    border-bottom: 1px solid #292a2b ;
    transition: all .5s ease;
}
.login__input:focus, textarea:focus{
    opacity: .5;
    border-bottom: solid 1px rgba(0,0,0,0.5);
    outline: none;
    transition: all .2s ease;
}
.form__login__title{
    color: #292a2b;
    margin-bottom: 2rem;
}
.form__login__register{
    margin: 2rem 0;
    color: #292a2b;
    font-size: 1.6em;
    font-family: 'NeueHaasDisplay-Medium', sans-serif;
}
.logo__login{
    align-self: center;
    margin-right: 1.2rem;
}

/* FOOTER */

footer{
    display: flex;
    width: 100%;
    padding: 2rem;
    background-color: #f7f7f7;
}
footer h2{
    font-size: 1.5em;
    margin-bottom: 1.1rem;
    font-weight: 100;
}
.footer__logo{
    width: 10%;
}
.footer__contact{
    width: 30%;
}
.footer__contact__nav{
    display: flex;
    flex-direction: column;
    padding: .6rem;
}
.footer__contact__nav a{
    margin-top: .7rem;
    color: #bbbcc7;
}
.footer__resource{
    width: 30%;
}
.footer__certification{
    width: 30%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}