{% extends 'base.html.twig' %}
{% block header %}
    <a href="{{ path('business') }}">Vous êtes une entreprise ?</a>
    </div>
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <a class="logo__login" href=""><i class="far fa-user-circle fa-4x "></i></a> 
    {% else %}
        <a class="btn btn--header" href="{{ path('app_login') }}">Inscription<br>connexion</a>
    {% endif %}
{% endblock %}
{% block title %}Influenceur{% endblock %}
{% block stylesheets %}
    {{ encore_entry_link_tags('homeInfluencer') }}
{% endblock %}

{% block body %}
    <div id="root_influencer"></div>
    {% block javascripts %}
        {{ encore_entry_script_tags('homeInfluencer') }}
    {% endblock %}
{% endblock %}
