{% extends 'influencer/base.html.twig' %}

{% block title %}Influenceur{% endblock %}

{% block body %}
    <div class="section1">
        <div class="section1__content">
            <h1 class="section1__h1">Collaborez avec vos <br> marques préférées</h1>
            <p class="section1__p">Une équipe d'experts et de passionés, des outils <br> puissants et un vrai suivi à votre disposition. <br> Recevez des offres de collaborations avec <br> des marques fortes</p>
            <a class="btn btn--influencer" href="">Créez votre compte gratuitement</a>
        </div>
        <img class="section1__img" src="{{ asset('assets/images/illus/illu_influencers.png') }}" alt="Illustration représentant les médias sociaux">
    </div>
{% endblock %}
