{% extends 'base.html.twig' %}
{% block header %}
    <a href="{{ path('business') }}">Vous êtes une entreprise ?</a>
    </div>
{{ include('base/_auth.html.twig') }}
{% endblock %}
{% block title %}Influenceur{% endblock %}
{% block stylesheets %}
    {{ encore_entry_link_tags('homeInfluencer') }}
{% endblock %}

{% block body %}
    <div id="root_influencer"></div>
    {% block javascripts %}
        {{ encore_entry_script_tags('homeInfluencer') }}
    {% endblock %}
{% endblock %}
