{% extends 'base.html.twig' %}
{% block header %}
    <a href="{{ path('business') }}">Vous êtes une entreprise ?</a>
    </div>
{{ include('base/_auth.html.twig') }}
{% endblock %}
{% block title %}Félicitation{% endblock %}

{% block body %}
<div class="container container--success">
    <h1>Félicitation !</h1>
    <h3>Accédez à votre dashboard</h3>
    <a class="btn btn--success" href="">Dashboard</a>
    <p>ça devient serieux !</p>
</div>

{% endblock %}