{% extends 'base.html.twig' %}
{% block header %}
    <a href="{{ path('business') }}">Vous êtes une entreprise ?</a>
    </div>
{{ include('base/_auth.html.twig') }}
{% endblock %}
{% block title %}Bienvenue{% endblock %}

{% block body %}
<div class="container container--success">
    <h1>Bienvenue chez nous</h1>
    <h3>Vous allez recevoir un mail</h3>
    <a class="btn btn--success" href="{{ path('influencer') }}">Retour à la home</a>
</div>

{% endblock %}