@import '../../../../scss/tools/responsive';

.about {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 4rem auto;

  .about__content {
    align-self: center;
    display: flex;
    flex-direction: column;

    .about__h1 {
      text-align: center;
      color: #312e5c;
    }
    .about__p {
      text-align: justify;
      color: #312e5c;
      line-height: 1.4em;
      margin-top: 3rem;
    }
    .about__p__second {
      text-align: justify;
      color: #312e5c;
      line-height: 1.4em;
      margin-top: 1rem;
    }
  }
}

@media #{$medium-down} {
  .spacer {
    height: 90px;
  }
}
@media #{$small-down} {

}
@media #{$xsmall-down} {

}