.container--contact{
  text-align: center;
  width: 50%;
  align-content: center;
  margin-top: 4rem;
  margin-bottom: 4rem;
}
.contact__title{
  margin-bottom: 4rem;
}
.contact__title__span{
  color: #cbd1fe;
}
.contact__form{
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}
.contact__form__post{
  width: 50%;
}
.contact__form__post input, .contact__form__post textarea{
  width: 100%;
  border: none;
  border-bottom-style: dotted;
  border-bottom-color: #cdcdcd;
  transition: all .5s ease;
  margin-bottom: 2rem;
}
.contact__form__post input:focus, .contact__form__post textarea:focus{
  outline: none;
  transition: all .2s ease;
  border-bottom: solid 1px #cbd1fe;
  transition: all .2s ease;
}

.contact__form__post input:focus::-webkit-input-placeholder {
  color: #cbd1fe;
  transition: all .5s ease;
}
.reminder{
  width: 50%;
}
.reminder h3{
  text-align: left;
  font-size: 2em;
  font-weight: 100;
}
.reminder p{
  text-align: left;
}
.reminder p a {
  text-decoration: underline;
  color: #cbd1fe;
}
.contact__btn{
  display: flex;
  justify-content: center;
}
.contact__btn__block{
  display: flex;
  width: 50%;
  border-radius: 1px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  box-shadow: 0 0 5px 0 hsla(0,0%,47.1%,.3);;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  &:nth-child(2) {
    border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  }
}
.contact__btn__block h3{
  font-size: 1.6em;
}
.contact__btn__block p{
  font-size: 1em;
}

// @TODO onClick =>
// box-shadow: inset 0px -9px 5px 0px rgba(203,209,254,1);

@media #{$large-down} {
  .container--contact {
    width: 70%;
  }
}
@media #{$medium-down} {
  .contact__title {
    font-size: 2.5em;
    margin-top: 6rem;
  }
  .container--contact {
    width: 90%;
  }
}
@media #{$small-down} {
  .contact__title {
    font-size: 2em;
  }
  .contact__btn {
    flex-direction: column;
  .contact__btn__block {
    width: 100%;
    border-radius: 15px;
  }
  }
  .contact__form {
    flex-direction: column;
    align-items: center;
    .reminder {
      width: 100%;
    }
    .contact__form__post {
      width: 100%;
    }
  }
}