.edit__password {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;

  .form__edit-password div {
    display: flex;
    flex-direction: column;
  }
  .form__edit-password input{
    width: 100%;
    margin-top: .3rem;
    border-radius: 10px;
    text-align: left;
    background-color: #eff3f6;
    padding: 1rem;
    border: none;
    outline: none;
  }
  .form__edit-password label{
    text-align: left;   
    text-transform: uppercase;
    color: #afb4b8;
    font-size: 1.2em;
  }
  .form__edit-password input:focus::-webkit-input-placeholder {
    color: #312e5c;
    transition: all .5s ease;
  }
  .btn--account-edit-password {
    margin: 1rem;
      background: linear-gradient(90deg, #432d9c 0%, #2c34ac 49%, #2736af 100%);
  }
}