.forgot-password {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #forgot_password {
    div {
      display: flex;
      flex-direction: column;
      margin: 1rem;

      li {
        color: red;
        font-size: 1.2em;
        margin-top: 1rem;
      }
      #forgot_password_email {
        border: none;
        border-bottom: 1px solid #292a2b ;
        transition: all .5s ease;
        &:focus {
          opacity: .5;
          border-bottom: solid 1px rgba(0,0,0,0.5);
          outline: none;
          transition: all .2s ease;
        }
      }
    }
    }

    .forgot-password__title {

    }
    .forgot-password__link {
      font-size: 1.2em;
      color: $font;
      text-decoration: underline;
    }
    .btn--forgot-password {
      margin: 1rem;
      background: linear-gradient(90deg, #432d9c 0%, #2c34ac 49%, #2736af 100%);
    }
}

@media #{$small-down} {
  .forgot-password {
    .forgot-password__title {
      font-size: 1.6em;
    }
    #forgot_password {
      label {
        font-size: 1.2em;
      }
      div {
        li {
          font-size: 1.2em;
        }
      }
    }
    .btn--forgot-password {
      padding: 7px 37px;
    }
  }
}
@media #{$xsmall-down} {
  .forgot-password {
    #forgot_password {
      div {
        li {
          font-size: 1em;
        }
      }
    }
  }
}