.container__login{
  height: 100vh;
}
.container__form{
  display: flex;
}
.form__login{
  width: 50%;
  align-self: center;
  justify-content: center;
  display: flex;  
}
.form__login__form{
  display: flex;
  flex-direction: column;
  width: 60%;
}
.form__aside{
  width: 50%;
}

.form__login__btn{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.login__label{
  text-align: left;
}
.login__input{
  width: 100%;
  margin-top: .3rem;
  border-radius: 10px;
  text-align: left;
  background-color: #eff3f6;
  padding: .6rem;
  border: none;
  outline: none;
  margin-bottom: 1rem;
}

textarea{
  border: none;
  border-bottom: 1px solid #292a2b ;
  transition: all .5s ease;
}
textarea:focus{
  opacity: .5;
  border-bottom: solid 1px rgba(0,0,0,0.5);
  outline: none;
  transition: all .2s ease;
}
.form__login__title{
  color: #292a2b;
  margin-bottom: 2rem;
}
.form__login__register{
  margin: 2rem 0;
  color: #292a2b;
  font-family: 'NeueHaasDisplay-Medium', sans-serif;
  text-align: left;
}
.logo__login{
  align-self: center;
  margin-right: 1.2rem;
  align-items: center;
}
.login__register{
  display: flex;
  align-items: center;
}
.login__register a {
  padding: 0 1rem;
  color: #312e5c;
  transition: .5s;
}
.login__register a:hover {
  text-decoration: underline;
  transition: .5s;
}
@media #{$large-down} {
  .form__login__register {
    font-size: 1em;
  }
  .btn--form {
    padding: 10px 27px;
    font-size: 1.2em;
  }
}
@media #{$medium-down} {
  .img__login {
    display: none;
  }
  .form__aside {
    width: 0;
  }
  .form__login {
    width: 100%;
    margin: 7rem 0;
  }
}
@media #{$small-down} {
  .login__register {
    flex-direction: column;
    margin-bottom: 1rem;
  }
  .form__login__btn {
    flex-direction: column;
    .fogot-password {
      margin-top: 1rem;
    }
  }
}
@media #{$xsmall-down} {
  .btn--form {
    padding: 10px 5px;
    font-size: 1.1em;
  }
  .form__login__register {
    font-size: .9em;
  }
}