.container__register{
  display: flex;
}
.container--register{
  width: 100%;
  text-align: center;
  margin-top: 6rem;
  margin-bottom: 6rem;
  position: relative;
  form {
  z-index: 10;
  }
}
.wave--register {
  z-index: 0;
  position: absolute;
  bottom: -10rem;
  width: 100%;
  left: 0;
}
.brand__register{
  display: flex;
  background-color: #292a2b;
  width: 17%;
  flex-direction: column;
  justify-content: center;
  z-index: 2;
}
.yahoo{
  color: #FFF;
  padding: 1.2rem;
}
.yahoo__p{
  color: #FFF;
  margin-bottom: 4rem;
}
.yahoo__yahoo{
  color: #FFF;
}
.yahoo i{
  color: #FFF;
}
.register__form{
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 0 auto;
}
.register__form h1{
  text-align: left;
}
.register__form__text{
  text-align: left;
  margin-bottom: 2rem;
}
.register__form input, select{
  width: 100%;
  margin-top: .3rem;
  border-radius: 10px;
  text-align: left;
  background-color: #eff3f6;
  padding: 1rem;
  border: none;
  outline: none;
}
.register__form select{
  font-size: 1.2em;
}
.register__form label{
  text-align: left;   
  text-transform: uppercase;
  color: #afb4b8;
  font-size: 1.2em;
}
.register__form div {
  display: flex;
  flex-direction: column;
}


.register__form input:focus::-webkit-input-placeholder {
  color: #312e5c;
  transition: all .5s ease;
}


.audit__rdv{
  font-size: 2.2em;
  margin-top: 2rem;
}
.audit__content{
  text-align: left;
  font-size: 1.8em;
  margin-bottom: 2rem;
}

@media #{$large-down} {
  .container--register {
    width: 80%;
  }
  .brand__register {
    width: 25%;
  }
}
@media #{$medium-down} {
  .brand__register {
    display: none
  }
  .register__form {
    width: 85%;
    .register__form__title {
      font-size: 2em;
      margin-top: .5rem;
    }
  }
}
@media #{$small-down} {
  .btn--register {
    padding: 6px 17px;
    font-size: 1em;
  }
  .register__form {
    .register__form__title {
      font-size: 1.6em;
    }
    .register__form__text {
      font-size: 1em;
    }
    input {
      padding: .4rem;
      font-size: 1em;
    }
    label {
      font-size: 1em;
    }
  }
}
@media #{$xsmall-down} {
  .register__form {
    width: 100%;
  }
}