.settings__account {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;

  .form__settings div {
    display: flex;
    flex-direction: column;
  }
  .form__settings input{
    width: 100%;
    margin-top: .3rem;
    border-radius: 10px;
    text-align: left;
    background-color: #eff3f6;
    padding: 1rem;
    border: none;
    outline: none;
  }
  .form__settings label{
    text-align: left;   
    text-transform: uppercase;
    color: #afb4b8;
    font-size: 1.2em;
  }
  .form__settings input:focus::-webkit-input-placeholder {
    color: #312e5c;
    transition: all .5s ease;
  }
  .btn--account-settings {
    margin: 1rem;
      background: linear-gradient(90deg, #432d9c 0%, #2c34ac 49%, #2736af 100%);
  }
  .btn--delete {
    background: #FFF;
    border: none;
    text-decoration: underline;
    color: red;
    display: inline-block;
    margin-top: 3rem;
  }

  .modify-password {
    text-decoration: underline;
  }
  .modal__delete {
    display: none;
  }

  .modal__delete--visible {
    display: flex;
    position: fixed; 
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    width: 100px;
    top: 40%;
    width: 20%;
    padding: 2rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    background-color: #f7f7f7;
    box-shadow: 0 0 25px 0 rgba(19,28,37,.4);
    z-index: 10;
      .modal__delete__title {
        font-size: 1.8em;
      }
      .modal__delete__subtitle {
        font-size: 1.2;
      }
      .modal__delete__content {
        font-size: 1em;
      }
      .deletion-choice {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        width: 100%;
        margin-top: 2rem;
        .btn-delete {
          color: #FFF;
          border: none;
          padding: .5rem;
          border-radius: 9px;
        }
        .btn-delete--delete {
          background-color: red;
        }
        .btn-delete--cancel {
          background-color: #dde1e4;
        }

      }

  }
}

.overlay {
  display: none;
}

.overlay--visible {
    display: block;
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .4);
}