@import '../../../../../scss/tools/responsive';

.stats { 
  .stats__section {
    display: flex;
    width: 100%;
  }
}

.stats-card {
  background-color: #FFF;
  border-radius: 5px;
  padding: .5rem 0 0 .5rem;
  margin-bottom: 1rem;
  margin: .5rem;
  height: 320px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 60%;
  .stats-card__title {
    padding: 1rem;
    font-size: 1.5em;
  }
}

.stats-card__title {
  font-family: "NeueHaasDisplay-Medium", sans-serif;
  padding: 1rem;
  font-size: 1.6em;
}
.stats-card__content {
  margin-bottom: 3rem;
  .stats-card__number {
    font-family: "NeueHaasDisplay-Medium", sans-serif;
    font-size: 2em;

  }
  .stats-card__percent {
    &--green {
      color: #46a330;
    }
    &--red {
      color: #bd090c;
    }
  }
  .stats-card__text {
    font-size: 1em;
  }
}
.stats__container__end {
  display: flex;
  width: 40%;
  .stats-card {
    width: 50%;
  }
}

@media #{$xlarge-down} {

}

@media #{$large-down} {
  .stats {
    .stats__section {
      flex-direction: column;
      .stats-card--chart {
        width: 100%;
      }
    }
    .stats__container__end {
      width: 100%;
    }
  }
}

// @media #{$medium-down} {


@media #{$small-down} {
  .stats {
    .stats__section {
      .stats-card {
        margin: .5rem 0;
        &--impressions {
          margin-right: .1rem;
        }
        &--comments {
          margin-right: .1rem;
        }
      }
      .stats-card--chart {
        padding: 0;
        margin: 0;
      }
    }
    .stats__container__end {
      width: 100%;
      .stats-card__title {
        font-size: 1.3em;
      }
      .stats-card__number {
        font-size: 1.5em;
      }
    }
  }
}

// @media #{$xsmall-down} {

// }
