<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Bellybutton | {% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('assets/css/reset.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
