.comment__title {
  font-size: 1.6em;
}
.comment__username {
  font-size: 1.2em;
}
.comment__content {
  width: 100%;
  border: 1px solid #e5e5e5;
  height: 100px;
  margin-top: 1.5rem;
  font-size: 1.2em;
}