{% extends 'base.html.twig' %}
{% block header %}
{{ include('base/_header_business.html.twig') }}
{% endblock %}
{% block title %}Mes campagnes{% endblock %}

{% block body %}
  <div id="root"></div>
  {% block javascripts %}
    {{ encore_entry_script_tags('app') }}
  {% endblock %}
{% endblock %}
