@import '../../../../scss/tools/vars';
@import '../../../../scss/tools/responsive';

.section2 {
  display: flex;
  margin-top: 6rem;
  margin: 0 auto;
  margin-top: 4rem;
  margin-bottom: 10rem;
  align-items: center;
  .section2__business__img {
    width: 30%;
  }
  .section2__content {
    align-self: center;
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
    padding: 2rem;
    .section2__h1 {
      text-align: left;
      color: $fontMain;
      font-size: 2.2em;
    }
    .section2__subtitle {
      font-size: 1.6em;
      word-spacing: .1rem;
      margin-top: 1.6rem;

      .section2__viraux { 
        font-family: $fontBold;
      }
    }
    .section2__p {
      text-align: left;
      color: $font;
      font-size: 1.1em;
      line-height: 1.6em;
      margin-top: 3rem;
    }
  }
}

@media #{$xlarge-down} {
  .section2 {
    .section2__content {
      padding: 2rem;
    }
  }
}
@media #{$large-down} {
  .section2 {
    .section2__business__img {
      display: none;
    }
    .section2__content {
      padding: 2rem;
        .section2__p {
          width: 100%;
        }
    }
  }
}
@media #{$medium-down} {
  .section2 {
    margin-top: none;
    flex-direction: column;
    margin: 5rem 0;
    .section2__business__img {
      width: 100%;
    }
    .section2__content {
      width: 80%;
      align-items: center;
      .section2__h1 {
        width: 100%;
        margin-top: 2rem;
      }
    }
  }
}
@media #{$small-down} {
  .section2 {
    margin-top: 2rem;

    .section2__content {
      .section2__h1 {
        font-size: 1.4em;
      }
      .section2__subtitle {
        margin: 1rem 0;
        font-size: 1.3em;
      }
      .section2__p {
        font-size: 1em;
      }
    }
  }
}
@media #{$xsmall-down} {

}